@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Message"] = "Salles Web MVC App from C# Course";
    ViewData["email"] = "marciodev0614@gmail.com";
    ViewData["Aluno"] = "Márcio Rodrigo";
}
<h1>@ViewData["Title"]</h1>
<p>Project: @ViewData["Message"]</p>
<p>Email: @ViewData["email"]</p>

<p>Aluno: @ViewData["Aluno"]</p>

<address>
    <strong>More information</strong>
</address>
